@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'InterBold';
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'InterMedium';
    src: url('../fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: 'InterLight';
    src: url('../fonts/Inter-Light.ttf');
}

@font-face {
    font-family: 'Mistral';
    src: url('../fonts/Mistral.ttf');
}